
* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* o form centraliza o meu formulario
-----------------------------*/

form {
  border:1px solid;
  width: 300px;
  margin: 0 auto;
}

fieldset {
    border: 100;
}

body,  select, button {
    font-family: sans-serif;
    font-size: 0,5em;
    color: white;
}
.formulario{
    width: 400px;
    padding: 30px;
    border:1px solid #ccc;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 15px ;
    font-family: sans-serif;
}

.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
    font-family: sans-serif;
}


.radiobox label{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  letter-spacing: 1px ; 
  cursor: pointer;
}

input[type=text],
input[type=email],

/* Texto onde se escreve-se tudo 
-----------------------------*/
textarea{
    width: 100%;
    padding-left: 10px;
    height: 25px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
    font-family: sans-serif;
    font-size: 0,5em;
}

/* Texto da area de mensagem
-----------------------------*/

textarea{
    line-height: 30px;
    padding: 5px;
    height: 60px;
    resize: none;
}

/* Botao enviar 
-----------------------------*/
input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 30px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

body

{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background:url(imag/img1.jpg) no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    max-width: 100%;

}

.field p{
    font-size: 1.1em;
    font-family: arial;
}
